<h1>Notes </h1>
<% @notes.each do |note| %>
  <h2><%= note.title %></h2>

  <%= link_to 'New Note', new_note_path %>
  
  <%= link_to 'Show Notes', note_path(note) %>

  <%= link_to 'Edit Note', edit_note_path(note) %>

  <%= link_to 'Destroy Note', note, method: :delete %>

<% end %>