<h1>New Note</h1>
<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </br>
  <%= f.label :task %>
  <%= f.text_area :task %>
  </br>
  <button><%= f.submit %></button>
  <% end %>
